.home {
  padding: 20px;
  margin: 20px;
}

.card_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 40px;
}

.inputForLocation {
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  color: gray;
  border: none;
  outline: none;
  border-bottom: 1px solid blue;
}

.filter-container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.reset-filter {
  padding: 10px;
  font-weight: 600;
  border-radius: 5%;
  background-color: slateblue;
  color: white;
  border: none;
  cursor: pointer;
}
